<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            دعوة فردية
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item">فئة ب </a>
            </li>
            <li><a class="dropdown-item" href="#"> فئة ج </a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            المساجد
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">المساجد الحيوية</a></li>
            <li><a class="dropdown-item" href="#">مسجد كل أخ </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            عمل اليوم
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> السبت</a></li>
            <li><a class="dropdown-item" href="#">الاحد </a></li>
            <li><a class="dropdown-item" href="#"> الاثنين </a></li>
            <li><a class="dropdown-item" href="#"> الثلاثاء </a></li>
            <li><a class="dropdown-item" href="#"> الاربعاء </a></li>
            <li><a class="dropdown-item" href="#"> الخميس </a></li>
            <li><a class="dropdown-item" href="#"> الجمعه </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            دروس الشباب
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">دور المسئول</a></li>
            <li><a class="dropdown-item" href="#">توزيع الناس </a></li>
            <li><a class="dropdown-item" href="#"> الحصر </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            القوافل
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/kwafel/numbers">أرقام</a>
            </li>
            <li><a class="dropdown-item" href="#">كافتريات </a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#"> ملاعب </a></li>
            <li><a class="dropdown-item" href="#"> خريطة مجمعة </a></li>
            <li><a class="dropdown-item" href="#"> شوارع حية </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
